<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>

<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                    <tr>
                        <th>Name </th>
                        <th>Number of items </th>
                    </tr>
                <tbody>
                    {% for todo in show_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </main>
</body>

</html>
